/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * Original contributor: Daniel Glazman
 */

div[data-8ml-role="navbar"] {
  padding-left: 32px;
  padding-top: 32px;
  white-space: nowrap;
  overflow: hidden;
}

div[data-8ml-role="navbar"].dark-blue {
  background-color: var(--8ml-color-bg-dark-blue);
  color: var(--8ml-color-fg-gray-d8);
}
